@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

.containerLogin {
  height: 80vh;
  width: 60%;
  display: flex;
  margin: 40px auto;
  border: 1px solid black;
}

.containerLogin label {
  width: 100%;
  font-size: 30;
}

.leftLogin {
  height: 100%;
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("./images/loginImg.png");
}

#loginImg {
  width: 100%;
  height: 100%;
}

.rightLogin {
  height: 100%;
  width: 50%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentLogin {
  width: 90%;
}

h1 {
  text-align: center;
  color: green;
}

.name,
.passwordDiv{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.passwordDiv {
  margin-bottom: 0;
}

#name,
#passwordLogin {
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  font-size: 15px;
  border: 1px solid #509e2f;
  border-radius: 5px;
}

.buttonsLogin {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 30px;
}

.loginButton {
  width: 100%;
  height: 40px;
  color: white;
  border: none;
  letter-spacing: 2px;
  opacity: 0.8;
  background-color: green;
  border-radius: 5px;
}

.loginButton:hover {
  opacity: 1;
}

#signupButton {
  text-decoration: underline;
  color: green;
}

#signupButton:hover {
  text-decoration: none;
}
