@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

.containerLogin{
  height:80vh;
  width: 60%;

  display: flex;
  margin:40px auto;
  border: 1px solid black;
  

}

.leftLogin{
  height: 100%;
  width: 40%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),url('./images/loginImg.png');
}

.rightLogin{
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;

}

h1{
  text-align: center;
}
label{
  font-size: 30;

}

#name,#password{
  padding: 10px;
  width: 300px;
  margin: 10px 0;
  font-size: 15px;
}

.buttonsLogin{
  display: flex;
  justify-content: space-around;
  margin-top: 20px ;
  margin-bottom: 30px;

}

#loginButton, #cancelButton{
  width: 30%;
  height: 40px;
  color: white;
  border: none;
  letter-spacing: 2px;
  opacity: 0.8;

}

#loginButton{
  background-color: #44115b;
}

#cancelButton{
  background-color: #670724;
}

#loginButton:hover, #cancelButton:hover{
  opacity: 1;
}




#signupButton{
  text-decoration: underline;
  color: #44115b;
  
}

#signupButton:hover{
  text-decoration: none;
}