#recipeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 2px 1px grey;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  width: 19rem;
}

#card-img {
  width: 100%;
}

#card-img img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid grey;
}

#card-container {
  padding: 0 0.5rem;
}

#card-container-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

#card-container-top p {
  margin: 0;
}

#card-container-top section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.7rem;
  color: grey;
  padding-right: 5px;
}

#recipe-name {
  font-size: 1rem;
  font-weight: 600;
  color: #509e2f;
}

#recipe-owner {
  margin: 8px 0 0;
  font-size: 0.6rem;
  color: grey;
  line-height: 0.5rem;
}

#card-container-bottom {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#recipe-time {
  color: #0a6847;
  font-weight: 600;
}
