#recipe-collection-container {
  width: 98%;
  margin: 0 auto;
}
#collection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw 0.5vw;
  width: fit-content;
  justify-content: center;
  margin: 1.5rem 0;
}

.createRecipeBtn{
  background-color: rgb(80, 158, 47);
  color: white;
  float: right;
  margin-right: 50px;
  padding: 5px;
  border-radius: 5px;
}

.createRecipeBtn:hover{
  padding: 6px;
  
}