#recipe-collection-container {
  width: 98%;
  margin: 0 auto;
}
#collection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw 0.5vw;
  width: fit-content;
  justify-content: center;
  margin: 1.5rem 0;
}
