#home-container {
  width: 90%;
  margin: 0 auto;
}

#tag-buttons {
  margin: 1rem 0 2rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

#tag-buttons a {
  text-decoration: none;
  color: white;
}

#tag-buttons div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  width: 14rem;
  height: 4.5rem;
  color: white;
}

#tag-buttons div p {
  margin: 0;
}

#tag-button-1,
#tag-button-2,
#tag-button-3,
#tag-button-4,
#tag-button-5 {
  border-radius: 10px;
  padding: 0 0.7rem 0 1rem;
  cursor: pointer;
}
#tag-button-1 {
  background-color: #64c53a;
}
#tag-button-2 {
  background-color: #6c6d6b;
}
#tag-button-3 {
  background-color: #87aeac;
}
#tag-button-4 {
  background-color: #f5a65b;
}
#tag-button-5 {
  background-color: #7a89c2;
}

.section-topic {
  font-size: 1.8rem;
  font-weight: 600;
}

#welcome-model {
  display: flex;
  flex-direction: column;
}

#close-button {
  display: flex;
  justify-content: flex-end;
}

#close-button svg {
  cursor: pointer;
}

#welcome-model-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-model-container h2 {
  color: #509e2f;
}

#welcome-model-container h6 {
  width: 80%;
  font-size: 0.8rem;
  padding: 0 10px;
}

#welcome-model-buttons {
  margin: 20px auto 10px;
  width: 80%;
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  gap: 2rem;
  justify-content: space-around;
}

#welcome-model-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  width: 50%;
  margin: 0;
}

#welcome-model-buttons a:hover {
  background-color: #509e2f;
  color: #dfffd1;
  text-decoration: none;
}

#welcome-model-buttons button {
  background-color: rgba(255, 255, 255, 0);
  color: darkgreen;
  border: none;
  font-weight: 500;
}

#welcome-model-buttons button:hover {
  color: #dfffd1;
}

#hover-underline-animation-2 {
  display: inline-block;
  position: relative;
  /* color: #509e2f; */
}

#hover-underline-animation-2:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#hover-underline-animation-2:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
