.navContainer {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.75);
  margin: 10px 10px 1.5rem;
  background-color: #f8f9fa;
}

#navUL {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 8vh;
}

#navUL li {
  display: inline;
}

#navUL li a {
  text-decoration: none;
  color: black;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  text-decoration: none;
  color: black;
}
.logo a p {
  color: black;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}
.logo a p span {
  color: #509e2f;
  font-weight: 700;
}

.logo img {
  box-shadow: 0px 5px 10px 1px rgb(87, 87, 87);
  border-radius: 50%;
  width: 8vh;
  height: 8vh;
}

.remainingNav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.remainingNav li {
  margin-left: 2rem;
  border: #509e2f 1px solid;
  padding: 5px 15px;
  border-radius: 15px;
}

#loginButtonNavbar {
  background-color: #509e2f;
}

