.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  padding: 10px 50px 0 60px;
  /* border: 1px solid #509e2f; */
  box-shadow: 0px 0px 20px 1px rgb(203, 203, 203);
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 70%;
}

#form-topic {
  font-size: 3rem;
  text-align: center;
  width: 60%;
  margin: 20px auto 30px;
}
#form-topic span {
  color: #509e2f;
  font-weight: 500;
}

.recipe-name,
.owner-name,
.image-url,
.portions,
.time {
  display: flex;
  flex-direction: column;
}

.recipe-name input,
.owner-name input,
.image-url input,
.portions input,
.time input {
  padding: 5px;
  margin: 4px 0 25px 10px;
  border-radius: 5px;
  border: 1px solid #509e2f;
  width: 90%;
}

.category {
  display: flex;
  margin-bottom: 20px;
  gap: 40px;
}

.category select {
  padding: 5px;
  width: 40%;
  border: 1px solid #509e2f;
  border-radius: 5px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.ingredients label {
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: center;
  margin-bottom: 10px;
}

.ingredients label input[type="text"] {
  padding: 5px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #509e2f;
  width: 100%;
}

.ingredients label div {
  display: flex;
  width: 60%;
}

.ingredients label button {
  padding: 5px;
  background-color: #509e2f;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  width: 30%;
}

.ingredients p {
  margin: 10px 0 10px 10px;
}

.ingredients label button:hover {
  background-color: #3c7d24;
}

.ingredients li {
  margin-left: 10px;
}
.ingredients li::marker {
  color: #509e2f;
}

.steps {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.steps label {
  display: flex;
  /* gap: 30px; */
  align-items: center;
  margin: 4px 0 20px 10px;
}

.steps label input[type="text"] {
  padding: 5px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #509e2f;
  width: 71%;
}

.steps label button {
  padding: 5px;
  background-color: #509e2f;
  color: white;
  border: 1px solid #509e2f;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  width: 20%;
}

.steps label button:hover {
  background-color: #3c7d24;
}

.steps p {
  margin: 10px 0 10px 10px;
}
.steps li {
  margin-left: 10px;
}

.steps li::marker {
  color: #509e2f;
}

.create-new{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.create-recipe-btn {
  padding: 10px;
  background-color: #509e2f;
  color: white;
  border: none;
  cursor: pointer;
  width: 82%;
  margin: 0 auto 20px;
  border-radius: 5px;
}

.create-recipe-btn:hover {
  background-color: #3c7d24;
}

.custom-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-modal h2 {
  margin-top: 0;
}

.modal-link {
  display: block;
  margin-top: 10px;
  color: #000;
  text-decoration: none;
}

.modal-link:hover {
  text-decoration: underline;
}

.modal-button {
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #509e2f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #3c7d24;
}
