.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 35vh;
  padding: 10px 0;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
  margin-top: 20px;
  margin-bottom: 0;
}

.logo-section {
  width: 35%;
  font-size: 14px;
  padding-left: 100px;
}

.description {
  font-size: 14px;
  margin: 10px 0;
  width: 80%;
}

.logo-section img {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  box-shadow: 0px 5px 10px 1px rgb(87, 87, 87);
}

.company-menu {
  font-size: 14px;
  width: 15%;
  height: 63%;
  padding: 0 10px;
}

.company-menu h3 {
  font-size: 20px;
  font-weight: bold;
}

.company-menu ul {
  list-style-type: none;
  padding: 0;
}

.company-menu ul li {
  margin: 5px 5px;
}

.company-menu ul li a {
  text-decoration: none;
  color: black;
}

.resources-menu {
  width: 15%;
  height: 63%;
  font-size: 14px;
  padding: 0 10px;
}

.resources-menu h3 {
  font-size: 20px;
  font-weight: bold;
}

.resources-menu ul {
  list-style-type: none;
  padding: 0;
}

.resources-menu ul li {
  margin: 5px 5px;
}

.resources-menu ul li a {
  text-decoration: none;
  color: black;
}

.subscribe-section {
  width: 35%;
  font-size: 14px;
  padding: 0 10px;
  margin-right: 10px;
}

.subscribe-section p {
  font-size: 12px;
  margin: 10px 0;
}

.subscribe-section img {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  box-shadow: 0px 5px 10px 1px rgb(87, 87, 87);
}

.subscribe-section input[type="email"] {
  width: 60%;
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.subscribe-section button {
  width: 25%;
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #509e2f;
  color: white;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #f8f9fa;
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .logo-section,
  .company-menu,
  .resources-menu,
  .subscribe-section {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .description {
    text-align: center;
    width: 100%;
  }

  .logo-section {
    text-align: center;
  }

  .logo-section img,
  .subscribe-section img {
    width: 50px;
    height: 50px;
  }

  .company-menu,
  .resources-menu {
    text-align: center;
  }

  .subscribe-section input[type="email"] {
    width: 100%;
  }

  .subscribe-section button {
    width: 100%;
  }
}
